* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: darkgrey;
  background-repeat: repeat;
}
/* Page title */
h1, .pageTitle{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
/* Nav bar */
.nav, .nav-item, .nav-link{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  color: darkgoldenrod;
  font-size: large;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}
/* Video index */
div, iframe {
  width: 560px;
  height: 315px;
  margin: 0 auto;
}
iframe {
  display: block;
  border-style:none;
}
/* Bio */

/* Gear */

.container-fluid, .row{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.card, .card-img-top{
  justify-content: center;
  align-items: center;
}